@using Blog_post.Enums
@model IEnumerable<Blog_post.Models.Post>

<h1>Your Posts</h1>
<a asp-action="Create" class="btn btn-primary">Create</a>

@foreach(var item in Model)
{
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">@item.Title</h1>
            <p class="card-text">@item.Text</p>
            @if (item.StatusId == StatusEnum.Draft || item.StatusId == StatusEnum.Reject)
            {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            }
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
            
        </div>
            <div class="card-footer">
                <h4>@item.CreatedDate | Status: @item.Status.Name</h4>
            </div>
        
    </div>
}
